
<label class="label"><%= t("activerecord.attributes.person.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @person.name %></p>

<label class="label"><%= t("activerecord.attributes.person.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</label>
<p><%= @person.description %></p>

<label class="label"><%= t("activerecord.attributes.person.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</label>
<p><%= @person.email %></p>

<label class="label"><%= t("activerecord.attributes.person.image_url", :default => t("activerecord.labels.image_url", :default => "Image url")) %>:</label>
<p><%= @person.image_url %></p>

<div class="form-actions">
<%= link_to "Back", people_path, :class => 'btn'  %>
<%= link_to "Edit", edit_person_path(@person), :class => 'btn' %>
<%= link_to "Delete", person_path(@person), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>
