
<div class="clearfix">
   <%= f.label :award_person_id, t("activerecord.attributes.prize.award_person_id", :default => "Award person"), :class => :label %>
  <div class="input">
   <%= f.collection_select(:award_person_id, Person.all, :id, :name) %>
 </div>
</div>

<div class="clearfix">
   <%= f.label :receive_person_id, t("activerecord.attributes.prize.receive_person_id", :default => "Receive person"), :class => :label %>
  <div class="input">
    <%= f.collection_select(:receive_person_id, Person.all, :id, :name) %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :badge_id, t("activerecord.attributes.prize.badge_id", :default => "Badge"), :class => :label %>
  <div class="input">
    <%= f.collection_select(:badge_id, Badge.all, :id, :name) %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :comment, t("activerecord.attributes.prize.comment", :default => "Comment"), :class => :label %>
  <div class="input">
    <%= f.text_area :comment, :class => 'text_area' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", prizes_path %>
</div>
